<div class="container">
	<div class="row">
	    <div class="col-lg-10">
			<div class="page-header">
			    <h1>Edición usuario</h1>
			</div>

			<%= form_for @user, :html=>{:class => "form-horizontal"} do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user.errors.count, "error","errores") %></h2>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="form-group has-error">
					<b class="field_required">* Campos requeridos</b>  
				</div>

				<div class="form-group">
					<label for="inputUsuario" class="col-lg-2 control-label">Usuario <b class="field_required">*</b></label>
					<div class="col-lg-10">
						<%= f.text_field :login, :class=>"form-control", :placeholder => "Usuario", :disabled=>true  %>
					</div>
				</div>				
				<div class="form-group">
					<label for="inputPerfil" class="col-lg-2 control-label">Perfil <b class="field_required">*</b></label>
					<div class="col-lg-10">
						<%= collection_select(:user, :role_id,  @roles,  :id, :name, {:prompt => "Perfil"}, { :class=>"form-control"})%>
					</div>
				</div>
				<div class="form-group">
					<label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
					<div class="col-lg-10">
						<%= f.text_field :name, :class=>"form-control", :placeholder => "Nombre" %>
					</div>
				</div>
				<div class="form-group">
					<label for="inputApellidoPaterno" class="col-lg-2 control-label">Apellido paterno</label>
					<div class="col-lg-10">
						<%= f.text_field :last_name, :class=>"form-control", :placeholder => "Apellido paterno"  %>
					</div>
				</div>
				<div class="form-group">
					<label for="inputApellidoMaterno" class="col-lg-2 control-label">Apellido materno</label>
					<div class="col-lg-10">
						<%= f.text_field :second_last_name, :class=>"form-control", :placeholder => "Apellido materno"  %>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-lg-2 control-label">Email</label>
					<div class="col-lg-10">
						<%= f.text_field :email, :class=>"form-control", :placeholder => "Email"  %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
					    <%= hidden_field_tag "action_send", 1 %>
						<%= button_tag( :class => "btn btn-primary", :id=>"button_new_user") do %>
			                <span class="glyphicon glyphicon-saved"></span> Guardar 
			            <% end %>
			            <%= link_to "/users", :class => "btn btn-default" do %>
			               <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
			            <% end %>
					</div>
				</div>	
			<% end %>
		</div>
	</div>
</div>
