<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div class="page-header">
                <h1>Usuarios</h1>
            </div>

            <table class="table table-bordered table-striped table-hover datatable">
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Activo</th>
                    <th>Perfil</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.full_name %></td>
                            <td><%= user.login %></td>
                            <td><%= user.email %></td>
                            <td><%= user.active_name %></td>
                            <td><%= user.role_name %></td>
                            <td>
                                <%= link_to edit_user_path(user), :class => "btn btn-sm btn-info" do %>
                                    <span class="glyphicon glyphicon-edit"></span> Editar
                                <% end %>
                                <%= link_to "/users/change_password?id=#{user.id}", :class => "btn btn-sm btn-warning" do %>
                                    <span class="glyphicon glyphicon-asterisk"></span> Cambiar contraseña
                                <% end %>
                                <%= link_to user, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "btn btn-sm btn-default" do %> 
                                    <span class="glyphicon glyphicon-ban-circle"></span> Desactivar
                                <% end %>   
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            
            </table>
            <br />
            <%= link_to new_user_path, :class => "btn btn-primary" do %>
              <span class="glyphicon glyphicon-plus-sign"></span> Crear usuario
            <% end %>
        </div>
    </div>
</div>
